@import url('https://fonts.cdnfonts.com/css/academy-engraved-let');
@import url('https://fonts.cdnfonts.com/css/wallpaper');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #FFE7D1;
    padding: 0 26px;
}

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 94px;
}

nav {
    display: flex;
    gap: 61px;
}

header > h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

nav > a {
    font-size: 25px;
    font-family: 'Academy Engraved LET', sans-serif;
    color: black;
}

header > button {
    width: 200px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}

main {
    width: 100%;
    height: 800px;
    border: 1px solid black;

    display: flex;
    align-items: center;
}

main > span {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 112px;
    gap: 40px;
}

span > h2 {
    width: 474px;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > p {
    width: 368px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

span > button {
    width: 225px;
    height: 48px;
    background-color: #ED4D1B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid black;
}

main > img {
    width: 60%;
}

.heroArrow {
    display: flex;
    margin-top: -40px;
    margin-left: 140px;
    width: 105px;
    height: 97px;
}

.heroTitle {
    color: #ED4D1B;
}

.heroTextContainer {
    display: flex;
}

.iconTextHero {
    margin-top: -20px;
}
section{
    width: 100%;
    height: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.card{
    width: 272px;
    height: 306px;
    background-color: #ED4D1B;
    padding-left: 32px;
    padding-top: 27px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.card-content>p{
    width: 207px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.card-content>h3{
    width: 203px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card-content > img{
    width: 48px;
    height: 48px;
    
}
.card > img{
 display: block;
 align-self: flex-end; 
 padding-top: 40px;
}
.yellow-card{
    width: 272px;
    height: 306px;
    background-color: #FF9A3C;
    padding-left: 32px;
    padding-top: 27px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top:  30px;
    
}

.yellow-card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.yellow-card-content>p{
    width: 207px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.yellow-card-content>h3{
    width: 203px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.yellow-card-content > img{
    width: 48px;
    height: 48px;
    
}
.yellow-card > img{
 display: block;
 align-self: flex-end; 
 padding-top: 40px;
}
.red-card{
    width: 272px;
    height: 306px;
    background-color: #ED4D1B;
    padding-left: 32px;
    padding-top: 27px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

.red-card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.red-card-content>p{
    width: 207px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.red-card-content>h3{
    width: 203px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.red-card-content > img{
    width: 48px;
    height: 48px;
    
}
.red-card > img{
 display: block;
 align-self: flex-end; 
 padding-top: 40px;
}

.brown-card{
    width: 272px;
    height: 306px;
    background-color: #FF9A3C;
    padding-left: 32px;
    padding-top: 27px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.brown-card-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.brown-card-content>p{
    width: 207px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.brown-card-content>h3{
    width: 203px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.brown-card-content > img{
    width: 48px;
    height: 48px;
    
}
.brown-card > img{
 display: block;
 align-self: flex-end; 
 padding-top: 40px;
}

.card-all{
    display: flex;
    flex-direction: row;
    gap: 33px;
 
}

.escrita{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 64px;
padding-top: 60px;
}

.escrita > h2{
width: 1000px;
display: flex;
}

div>h2{
font-size: 64px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div> .VÃRIOS{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    color: #FF9A3C;
}

div> .outros{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;  
}

.escrita>div{
display: flex;
flex-direction: row;
gap: 16px;
}


button{
width: 225px;
height: 48px;
background-color: #ED4D1B;
font-weight: 700px;
font-size: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
border: 2px solid black;
display: block;
justify-content: center;
margin-top: 80px;
}



    
    


