@import url("https://fonts.cdnfonts.com/css/academy-engraved-let");
@import url("https://fonts.cdnfonts.com/css/wallpaper");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #ffe7d1;
  padding: 0 26px;
}

header {
  width: 100%;
  height: 100px;
  border: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 94px;
}

nav {
  display: flex;
  gap: 61px;
}

header > h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Academy Engraved LET", sans-serif;
  color: black;
}

nav > a {
  font-size: 25px;
  font-family: "Academy Engraved LET", sans-serif;
  color: black;
}

header > button {
  width: 200px;
  height: 48px;
  background-color: #ed4d1b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid black;
}

main {
  width: 100%;
  height: 800px;
  border: 1px solid black;

  display: flex;
  align-items: center;
}

main > span {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 112px;
  gap: 40px;
}

span > h2 {
  width: 474px;
  font-size: 64px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

span > p {
  width: 368px;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

span > button {
  width: 225px;
  height: 48px;
  background-color: #ed4d1b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid black;
}

main > img {
  width: 60%;
}

.heroArrow {
  display: flex;
  margin-top: -40px;
  margin-left: 140px;
  width: 105px;
  height: 97px;
}

.heroTitle {
  color: #ed4d1b;
}

.heroTextContainer {
  display: flex;
}

.iconTextHero {
  margin-top: -20px;
}

section {
  display: flex;
  gap: 25px;
  width: 100%;
  height: 666px;
  border: 1px solid black;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 32px;
  padding-top: 27px;
  width: 272px;
  height: 306px;
  background-color: #ed4d1b;
  border: 2px solid black;
}

.card > img {
  display: block;
  align-self: flex-end;
  padding-top: 40px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cardContent > p {
  width: 207px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardContent > h3 {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardContent > img {
  width: 48px;
  height: 48px;
}
